@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
header {
  width: 80vw;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 40px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid #FF5E00;
}
header section#logo {
  padding-left: 5vw;
}
header nav {
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  padding-right: 5vw;
}
header nav ul {
  display: flex;
  align-items: center;
}
header nav ul li {
  padding: 0px 20px;
  display: flex;
  cursor: default;
}
header nav ul li p {
  padding-left: 3px;
  cursor: pointer;
}
header nav ul li p:hover {
  border-bottom: 1px solid #FF5E00;
}
header nav ul select {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  cursor: pointer;
  padding: 10px 20px;
  font-weight: bolder;
  font-size: 1em;
}
header section#logo p {
  font-weight: bolder;
}

div#social-links {
  position: fixed;
  top: 0;
  left: 130px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
div#social-links div#social-line {
  height: 180px;
  border: 1px solid #a9a9a9;
}
div#social-links ul#social-links li img {
  background-color: white;
  border-radius: 50%;
  border: 1px solid #a9a9a9;
  width: 30px;
}
div#social-links ul#social-links li img:hover {
  border: 1px solid #FF5E00;
  background-color: #FF5E00;
  box-shadow: 0px 0px 20px #FF5E00;
  transition: all 0.1s;
}

section#home {
  width: 70vw;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10vh;
}
section#home article#main-left h1 {
  font-size: 2em;
}
section#home article#main-left p {
  color: #a9a9a9;
  padding-top: 20px;
}
section#home aside#main-right img {
  width: 700px;
}
section#home aside#main-right article#image-phrase {
  border: 1px solid #a9a9a9;
  padding: 5px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section#home aside#main-right article#image-phrase div#image-phrase-square {
  background-color: #FF5E00;
  height: 30px;
  width: 30px;
}

article#who-phrase {
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
article#who-phrase section#top fieldset {
  border: 1px solid #a9a9a9;
  padding: 30px;
}
article#who-phrase section#top fieldset legend {
  font-size: 3em;
  line-height: 0;
}
article#who-phrase section#bottom {
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: end;
}
article#who-phrase section#bottom fieldset {
  border-bottom: 1px solid #a9a9a9;
  border-left: 1px solid #a9a9a9;
  border-right: 1px solid #a9a9a9;
  padding: 30px;
  margin-top: -4px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
article#who-phrase section#bottom fieldset legend {
  font-size: 3em;
  line-height: 0.1em;
  background-color: black;
}

.active {
  color: #ffffff;
}

.inative {
  color: #a9a9a9;
}

span {
  color: #FF5E00;
}

/* Desktop - Medium */
@media screen and (max-width: 2100px) {
  header {
    width: 85vw;
  }
  header section#logo {
    padding-left: 2.5vw;
  }
  header nav {
    padding-right: 2.5vw;
  }
  div#social-links {
    left: 10px;
  }
  section#home {
    width: 80vw;
  }
  section#home > article#main-left > h1 {
    font-size: 1.7em;
  }
  section#home > aside#main-right > img {
    width: 500px;
  }
  div#social-links {
    left: 80px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  border: none;
}

/* CSS Document */
html, body {
  width: 100vw;
  height: auto;
  display: flex;
  background-color: rgb(0, 0, 0);
  background-image: url("../assets/images/background-prop.png");
  background-size: 20px;
  background-attachment: fixed;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  font-size: 1.05em;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.1em;
}/*# sourceMappingURL=main.css.map */