//? IMPORTS
 @use "./variables" as *;

.headerActive {
    background: $primary-color;
    background-clip: text;
    color: transparent;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 1px solid $neutral-2;
};

.gradientText {
    background: $primary-color;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
};

span {
    font-weight: bold;
}