//? IMPORTS
 @use "../hooks/variables" as *;

header {
    position: fixed;
    display: flex;
    top: 0px;

    height: 96px;
    width: 100vw;
    align-items: center;

    justify-content: space-between;
    background-color: #000000de;
    backdrop-filter: blur(4px);

    div#logo {
        margin-left: 10vw;
        font-weight: bolder;

        p {
            font-size: 1.5em;
            font-weight: bold;
        }
    }

    nav {
        margin-right: 10vw;

        ul {
            display: flex;
            align-items: center;

            li {
                margin-left: 30px;
                cursor: pointer;

                p {
                    display: flex;
                    font-weight: bold;
                }

                img {
                    width: 15px;
                    margin-left: 5px;
                }
            }

            li#storeButton {
                padding: 7px 20px;
                border-radius: 4px;
                border: 1px solid $neutral-2;

                background-image: linear-gradient(40deg, #bb3cd8, #ffffff31);
                box-shadow: 0px 0px 10px #bb3cd8;

                p {
                    color: #ffffff;
                }
            }
        }
    }
}