header {
    display: flex;
    height: 96px;
    width: 100vw;

    align-items: center;
    justify-content: space-between;

    div#logo {
        margin-left: 10vw;
        font-weight: bolder;

        p {
            font-size: 1.5em;
            font-weight: bold;
        }
    }

    nav {
        margin-right: 10vw;

        ul {
            display: flex;

            li {
                margin-left: 30px;

                p {
                    font-weight: bold;
                }
            }
        }
    }
}